
.nav-container{
    display: flex;
    background-color: cadetblue;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-container a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    color: #FFFF;
}

.nav-container a:hover{
    background-color: black;
    border-radius: 10px;
    
}

@media screen and (max-width:720px ) and  (min-width: 420px) {
    .nav-container a{
        display: flex;
        justify-content: space-between;
        
    }
}